# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Binary directory ignore that shit
bin*

# Build directory
build*

# QtCreator project file
CMakeLists.txt.user
